@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import "../../pages/Home/Home.scss";
@import "../../components/HomeVerticalFooter/HomeVerticalFooter.scss";
@import "../../components/HomeMain/HomeMain.scss";
@import "../../components/HomeMainHeader/HomeMainHeader.scss";
@import "../../components/Graph1/Graph1.scss";
@import "../../components/Graph2/Graph2.scss";
@import "../../components/Graph3/Graph3.scss";
@import "../../components/Graph4/Graph4.scss";
@import "../../components/Datas/Datas.scss";

/* GLOBAL */

#root {
  width: 1440px;
  height: 1024px;
  min-width: 1024px;
  min-height: 780px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* HEADER */

.header {
  width: 100%;
  height: 91px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .header_logo {
    height: 61px;
    margin-left: 28px;
  }

  .header_nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    .nav_component {
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
      color: white;
    }
  }
}


