.card_generic_mainData {
  // background-color: rgb(100, 92, 82);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 39px;

  .card_generic_mainData_element {
    width: 258px;
    height: 124px;
    display: flex;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.0212);

    .element_img {
      padding: 32px;
    }

    .element_details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .details_title {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        color: #282d30;
      }

      .details_name {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        color: #74798c;
      }
    }
  }
}
