.graph3_performance {
  background-color: #282d30;
  width: 258px;
  height: 263px;
  border-radius: 5px;

  .graph3_performance_radar tspan {
    fill: white;
    font-size: 11px;
    font-weight: 500;
  }
}
