.graph2 {
  background-color: #ff0000;
  width: 258px;
  height: 263px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;

  .graph2_title {
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 30px;
    width: 200px;
  }

  .graph2_tinyline tspan {
    fill: white;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
  }
}
