.graph1_activity {
  background-color: #fbfbfb;
  border-radius: 5px;
  width: 835px;
  height: 320px;
  margin-bottom: 28px;

  .graph1_activity_header {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 25px;

    .header_title {
      font-size: 15px;
      font-weight: 500;
    }

    .header_legend {
      display: flex;
      align-items: center;

      .legend_weight,
      .legend_calories_burned {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: #74798c;
        height: 8px;

        .legend_image {
          padding: 0 10px 0 30px;
        }
      }

      .legend_weight {
        border: none;
      }

      .legend_calories_burned {
        border: none;
      }
    }
  }
  .graph1_barChart_activity {
    height: 196px;

    tspan {
      fill: #9b9eac;
    }
  }
}

.custom_tooltip_graph1_activity {
  min-width: 39px;
  min-height: 63px;
  width: fit-content;
  height: fit-content;
  background-color: #e60000;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .label_graph1_activity_kilo,
  .label_graph1_activity_cal {
    font-size: 8px;
    font-weight: 500;
    color: #fff;
  }
}
