.home_main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: calc(1440px - 117px);

  .home_main_contents {
    max-height: 779px;
    max-width: 1126px;

    .contents_all_datas {
      display: flex;
      gap: 31px;

      .datas_graphs {
        gap: 28px;
      }
    }
  }
}

.performance {
  display: flex;
  gap: 30px;
}